.tags-input {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 48px;
    background-color: #FFF;
    border-radius: 8px;
    margin-top: 8px;
    /* width: 480px; */
    /* padding: 0 8px; */
    /* border: 1px solid rgb(214, 216, 218); */
    /* border-radius: 6px; */
}

/* .tags-input:focus-within {
    border: 1px solid #253166;
} */

input {
    /* flex: 1; */
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
    border-top: 0px;
}

input:focus {
    outline: transparent;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    color: transparent;
    margin: 8px 0 0 8px;
}

.tag {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 8px;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    background: #253166;
}
.tag-title {
    margin-top: 3px;
}
.tag-close-icon {
    /* display: block;
    font-size: 14px; */
    width: 13px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    margin-left: 8px;
    color: #253166;
    /* border-radius: 50%; */
    background: #fff;
    cursor: pointer;
}

@media screen and (max-width: 567px) {
    .tags-input {
        width: calc(100vw - 32px);
    }
}